<app-navbar></app-navbar>

<div class="landing-page">
  <div *ngFor="let category of categoryData">
    <h2>{{ category.name }}</h2>
    <div class="products-container">
      <div class="product-card" *ngFor="let product of category.products" [routerLink]="['/product', product.productId]">
        <img [src]="product.images[0]?.imageUrl" [alt]="product.images[0]?.altText || 'Product image'">
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency:'GBP' }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>

