.landing-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landing-page > div {
  margin-bottom: 40px;
}

.products-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.product-card {
  flex: 0 0 auto;
  margin-right: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 150px; /* Ensure product cards have a minimum width */
  cursor: pointer; /* Change cursor to pointer */

}


.product-card img {
  width: 250px; /* or any desired width */
  height: auto; /* maintains aspect ratio */
  max-height: 350px; /* limits height to avoid overflow */
  object-fit: cover; /* ensures image covers container without distortion */
  margin-bottom: 10px; /* spacing between image and text */
}


.product-card p {
  margin: 5px 0;
}
 